body {
    text-align: center;
    margin-top: 30px;    
    background: url('https://i.ytimg.com/vi/vJKZhZq3RmU/maxresdefault.jpg');
    font-family: Arial, Helvetica, sans-serif;
    perspective: 250px;
}

img {
    width: 150px;
}

.block {
    margin-top: 30px;
    transform: rotateX(35deg);
}

.data-films {
    color: yellow;
}

.data-films:hover {
    color: orange;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.25em;
}

.data-ships {
    display: block;
    color:white;
    margin-left: 10px;
}